<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Article Template</title>
  <style>
      .container {
          display: flex;
          flex-direction: column;
          gap: 20px;
      }
      .number {
          font-family: Arial, sans-serif;
          font-size: 14px;
          margin-bottom: 30px;
      }
      h1 {
          font-family: Arial, sans-serif;
          font-weight: bold;
          font-size: 22px;
      }
      h2 {
          font-family: Arial, sans-serif;
          font-size: 16px;
          font-weight: bold;
      }
      h3 {
          font-family: Arial, sans-serif;
          font-size: 16px;
          font-weight: normal;
          margin-bottom: 7px;
      }
      p {
          margin-top: -0px;
      }
      body {
          margin-top: 0;
      }
      html {
          font-size: 12px;
      }
  </style>
</head>
<body class="container">
 <h1 style="font-family: Arial, 'sans-serif'; font-weight: bold; font-size: 20px">
   ANALIZA MATRYCY LOSU. PAKIET “MOJA PRZYSZŁOŚĆ”
 </h1>

  <h3 style="font-family: Arial, 'sans-serif'; margin-top: -20px">
    JAK CZYTAĆ ANALIZĘ?
  </h3>

  <p style="font-family: Arial, 'sans-serif'; font-size: 14px; line-height: 18px">
    Analiza Matrycy Losu działa trochę jak lustro pokazujące dwie twarze naszej osobowości: jedną, która świeci jasno (to nasze plusy), i drugą, która może potrzebować trochę polerki (to nasze minusy). Gdy ją czytasz, znajdziesz opisy, które mają dwie strony: pozytywną, kiedy idziemy dobrą drogą, i negatywną, kiedy mamy pole do poprawy.

    To, jaką stronę widzisz w sobie, zależy od tego, gdzie aktualnie jesteś w życiu. Jeśli opis na plusie mówi o Tobie, to świetnie! To znaczy, że jesteś na dobrej drodze. Ale jeśli zobaczysz siebie bardziej w opisie na minusie, to nie martw się. To nie jest wyrok, a raczej mapa, która pokaże, jak dojść do lepszego miejsca.

    W analizie znajdziesz też wskazówki, jak przenieść się z minusa na plus. To jak przepis na lepsze jutro. Jeżeli coś jest na minus, to analiza podpowie, co możesz zrobić, żeby to zmienić. Pamiętaj, że każdy ma w sobie siłę, by obrócić minusy w plusy.
  </p>

  <div>
  <h3>{16Scope}</h3>
  <p class="number">{16Number}</p>
  <p>{16Content}</p>

  <h3>
    {17Scope}
  </h3>
  <p class="number">{17Number}</p>
  <p>{17Content}</p>

  <h3>
    {18Scope}
  </h3>
  <p class="number">{18Number}</p>
  <p>{18Content}</p>

  <h3>
    {20Scope}
  </h3>
  <p class="number">{20Number}</p>
  <p>{20Content}</p>

  <h3>
    {21Scope}
  </h3>
  <p class="number">{21Number}</p>
  <p>{21Content}</p>

  <h3>
    {22Scope}
  </h3>
  <p class="number">{22Number}</p>
  <p>{22Content}</p>

  <h3>
    {23Scope}

  </h3>
  <p class="number">{23Number}</p>
  <p>{23Content}</p>

  <h3>
    {25Scope}
  </h3>
  <p class="number">{25Number}</p>
  <p>{25Content}</p>

  <h3>
    {26Scope}
  </h3>
  <p class="number">{26Number}</p>
  <p>{26Content}</p>

  <h3>
    {27Scope}
  </h3>
  <p class="number">{27Number}</p>
  <p>{27Content}</p>

  <h3>
    {28Scope}
  </h3>
  <p class="number">{28Number}</p>
  <p>{28Content}</p>

  <h3>
    {30Scope}
  </h3>
  <p class="number">{30Number}</p>
  <p>{30Content}</p>

  <h3>
    {31Scope}
  </h3>
  <p class="number">{31Number}</p>
  <p>{31Content}</p>

  <h3>
    {32Scope}
  </h3>
  <p class="number">{32Number}</p>
  <p>{32Content}</p>

  <h3>
    {33Scope}
  </h3>
  <p class="number">{33Number}</p>
  <p>{33Content}</p>

  <h3>
    {35Scope}
  </h3>
  <p class="number">{35Number}</p>
  <p>{35Content}</p>

  <h3>
    {36Scope}
  </h3>
  <p class="number">{36Number}</p>
  <p>{36Content}</p>

  <h3>
    {37Scope}
  </h3>
  <p class="number">{37Number}</p>
  <p>{37Content}</p>

  <h3>
    {38Scope}
  </h3>
  <p class="number">{38Number}</p>
  <p>{38Content}</p>

  <h3>
    {40Scope}
  </h3>
  <p class="number">{40Number}</p>
  <p>{40Content}</p>

  <h3>
    {41Scope}
  </h3>
  <p class="number">{41Number}</p>
  <p>{41Content}</p>

  <h3>
    {42Scope}
  </h3>
  <p class="number">{42Number}</p>
  <p>{42Content}</p>

  <h3>
    {43Scope}
  </h3>
  <p class="number">{43Number}</p>
  <p>{43Content}</p>

  <h3>
    {45Scope}
  </h3>
  <p class="number">{45Number}</p>
  <p>{45Content}</p>

  <h3>
    {46Scope}
  </h3>
  <p class="number">{46Number}</p>
  <p>{46Content}</p>

  <h3>
    {47Scope}
  </h3>
  <p class="number">{47Number}</p>
  <p>{47Content}</p>

  <h3>
    {48Scope}
  </h3>
  <p class="number">{48Number}</p>
  <p>{48Content}</p>

  <h3>
    {50Scope}
  </h3>
  <p class="number">{50Number}</p>
  <p>{50Content}</p>

  <h3>

    {51Scope}

  </h3>
  <p class="number">{51Number}</p>
  <p>{51Content}</p>

  <h3>
    {52Scope}
  </h3>
  <p class="number">{52Number}</p>
  <p>{52Content}</p>

  <h3>
    {53Scope}
  </h3>
  <p class="number">{53Number}</p>
  <p>{53Content}</p>

  <h3>
    {55Scope}
  </h3>
  <p class="number">{55Number}</p>
  <p>{55Content}</p>

  <h3>
    {56Scope}
  </h3>
  <p class="number">{56Number}</p>
  <p>{56Content}</p>

  <h3>
    {57Scope}
  </h3>
  <p class="number">{57Number}</p>
  <p>{57Content}</p>

  <h3>
    {58Scope}
  </h3>
  <p class="number">{58Number}</p>
  <p>{58Content}</p>

  <h3>
    {60Scope}
  </h3>
  <p class="number">{60Number}</p>
  <p>{60Content}</p>

  <h3>
    {61Scope}
  </h3>
  <p class="number">{61Number}</p>
  <p>{61Content}</p>

  <h3>
    {62Scope}
  </h3>
  <p class="number">{62Number}</p>
  <p>{62Content}</p>

  <h3>

    {63Scope}

  </h3>
  <p class="number">{63Number}</p>
  <p>{63Content}</p>

  <h3>
    {65Scope}
  </h3>
  <p class="number">{65Number}</p>
  <p>{65Content}</p>

  <h3>
    {66Scope}
  </h3>
  <p class="number">{66Number}</p>
  <p>{66Content}</p>

  <h3>
    {67Scope}
  </h3>
  <p class="number">{67Number}</p>
  <p>{67Content}</p>

  <h3>
    {68Scope}
  </h3>
  <p class="number">{68Number}</p>
  <p>{68Content}</p>

  <h3>
    {70Scope}
  </h3>
  <p class="number">{70Number}</p>
  <p>{70Content}</p>

  <h3>
    {71Scope}
  </h3>
  <p class="number">{71Number}</p>
  <p>{71Content}</p>

  <h3>
    {72Scope}
  </h3>
  <p class="number">{72Number}</p>
  <p>{72Content}</p>

  <h3>
    {73Scope}
  </h3>
  <p class="number">{73Number}</p>
  <p>{73Content}</p>

  <h3>
    {75Scope}
  </h3>
  <p class="number">{75Number}</p>
  <p>{75Content}</p>

  <h3>
    {76Scope}
  </h3>
  <p class="number">{76Number}</p>
  <p>{76Content}</p>

  <h3>
    {77Scope}
  </h3>
  <p class="number">{77Number}</p>
  <p>{77Content}</p>

  <h3>
    {78Scope}
  </h3>
  <p class="number">{78Number}</p>
  <p>{78Content}</p>
  </div>


  <div>

    <p style="font-family: Arial, 'sans-serif'">
      Wszystkie prawa zastrzeżone. Żadna część tego odczytu nie może być kopiowana,
      rozpowszechniana, przekazywana, przesłana, opublikowana ani wykorzystywana w
      jakiejkolwiek formie lub za pomocą jakichkolwiek środków, w tym elektronicznych,
      mechanicznych, fotokopiowania, nagrywania lub innych metod, bez uprzedniej pisemnej
      zgody wydawcy i autora. Naruszenie praw autorskich jest przestępstwem, podlegającym sankcjom karnym
      i cywilnym. Wszelkie nieautoryzowane wykorzystanie materiałów zawartych w tym odczycie może skutkować
      poważnymi konsekwencjami prawnymi, w tym roszczeniami o odszkodowanie za szkody i straty poniesione przez wydawcę
      i autora. Niniejsze dzieło jest chronione prawem autorskim, a wszelkie prawa do jego treści są zastrzeżone na rzecz
      autora.
    </p>


    <h2>DZIĘKUJĘ I DO ZOBACZENIA WKRÓTCE</h2>
  </div>
  </body>
</html>