<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Children Article Template</title>
  <style>
      .container {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 0;
          margin: 0;
      }
      .generalTile {
          /*margin-top: -60px;*/
      }
      .number {
          font-family: Arial, sans-serif;
          font-size: 14px;
          margin-bottom: 30px;
      }
      h1 {
          font-family: Arial, sans-serif;
          font-weight: bold;
          font-size: 22px;
      }
      h2 {
          font-family: Arial, sans-serif;
          font-size: 16px;
          font-weight: bold;
      }
      h3 {
          font-family: Arial, sans-serif;
          font-size: 16px;
          font-weight: normal;
          margin-bottom: 7px;
      }
      p {
          margin-top: 0;
      }
      body {
          margin-top: 0;
      }
      html {
          font-size: 12px;
      }
  </style>
</head>
<body class="container">
<div style="width: 105.5%">
{matrix}
</div>
<div>
  <h1 class="generalTile">CECHY OSOBOWE</h1>
  <h3>
    CHARAKTER
  </h3>
  <p class="number">({characterNumber})</p>
  <p>{characterContent}</p>
  <h3>
    DZIECKO W KOMUNIKACJI
  </h3>
  <p class="number">({communicationNumber})</p>
  <p>{communicationContent}</p>
  <h3>
    SWIADOMOSC DZIECKA
  </h3>
  <p class="number">({awarenessNumber})</p>
  <p>{awarenessContent}</p>
</div>

<div>
  <h1>TALENTY</h1>
  <h3>
    TALENTY OD URODZENIA
  </h3>
  <p class="number">({talentsNumber})</p>
  <p>{talentsContent}</p>
  <h3>
    UKRYTE MOCE
  </h3>
  <p class="number">({hiddenNumber})</p>
  <p>{hiddenContent}</p>
  <h3>
    TALENTY NA LINII MESKIEJ
  </h3>
  <p class="number">({mensTalentsNumber})</p>
  <p>{mensTalentsContent}</p>
  <p class="number">({mensTalents2Number})</p>
  <p>{mensTalents2Content}</p>
  <h3>
    TALENTY NA LINII ZENSKIEJ
  </h3>
  <p class="number">({womenTalentsNumber})</p>
  <p>{womenTalentsContent}</p>
  <p class="number">({womenTalents2Number})</p>
  <p>{womenTalents2Content}</p>
</div>

<div>
  <h1 class="generalTile">SAMOREALIZACJA DZIECKA</h1>
  <h3>
    KIERUNKI ZAINTERESOWAŃ, HOBBY I KOŁEK ZAINTERESOWAŃ
  </h3>
  <p class="number">({directionsNumber})</p>
  <p>{directionsContent}</p>
  <p class="number">({directions2Number})</p>
  <p>{directions2Content}</p>
  <p class="number">({directions3Number})</p>
  <p>{directions3Content}</p>
  <h3>
    KIERUNEK DZIAŁANIA, OPCJE PRZYSZŁYCH ZAWODÓW
  </h3>
  <p class="number">({actionDirectionNumber})</p>
  <p>{actionDirectionContent}</p>
  <p class="number">({actionDirection2Number})</p>
  <p>{actionDirection2Content}</p>
  <p class="number">({actionDirection3Number})</p>
  <p>{actionDirection3Content}</p>
  <h3>
    DO OSIĄGNIĘCIA SUKCESU WAŻNE JEST
  </h3>
  <p class="number">({successAchieveNumber})</p>
  <p>{successAchieveContent}</p>
  <p class="number">({successAchieve2Number})</p>
  <p>{successAchieve2Content}</p>
  <p class="number">({successAchieve3Number})</p>
  <p>{successAchieve3Content}</p>
</div>

<div>
  <h1 class="generalTile">PRZESZLE WCIELENIE</h1>
  <p class="number">({pastIncarnationNumber})</p>
  <p>{pastIncarnationContent}</p>
</div>

<div>
  <h1 class="generalTile">RELACJE DZIECKO-RODZICIELSKI</h1>
  <h3>
    DLACZEGO TWOJA DUSZA PRZYSZŁA DO RODZICÓW
  </h3>
  <p class="number">({soulCameToParentsNumber})</p>
  <p>{soulCameToParentsContent}</p>
  <p class="number">({soulCameToParents2Number})</p>
  <p>{soulCameToParents2Content}</p>
  <h3>
    CO NALEŻY UWZGLĘDNIAĆ W KWESTIACH WYCHOWANIA DZIECKA?
  </h3>
  <p class="number">({shouldBeTakenNumber})</p>
  <p>{shouldBeTakenContent}</p>
  <p class="number">({shouldBeTaken2Number})</p>
  <p>{shouldBeTaken2Content}</p>
  <p class="number">({shouldBeTaken3Number})</p>
  <p>{shouldBeTaken3Content}</p>
  <h3>
    LEKCJE WEDŁUG LINII MĘSKIEJ
  </h3>
  <p class="number">({lessonsByMaleNumber})</p>
  <p>{lessonsByMaleContent}</p>
  <p class="number">({lessonsByMale2Number})</p>
  <p>{lessonsByMale2Content}</p>
  <h3>
    LEKCJE WEDŁUG LINII ŻEŃSKIEJ
  </h3>
  <p class="number">({lessonsByFemaleNumber})</p>
  <p>{lessonsByFemaleContent}</p>
  <p class="number">({lessonsByFemale2Number})</p>
  <p>{lessonsByFemale2Content}</p>
  <h3>
    JAK INSPIROWAĆ DZIECKO?
  </h3>
  <p class="number">({howToInspireNumber})</p>
  <p>{howToInspireContent}</p>
  <p class="number">({howToInspire2Number})</p>
  <p>{howToInspire2Content}</p>
</div>

<div>
  <h1>LATA</h1>
  <h3>0 LAT</h3>
  <p class="number">({0Number})</p>
  <p>{0Content}</p>

  <h3>1-2,5 LAT</h3>
  <p class="number">({1Number})</p>
  <p>{1Content}</p>

  <h3>2,5-3,5 LAT</h3>
  <p class="number">({2Number})</p>
  <p>{2Content}</p>

  <h3>3,5-4 LAT</h3>
  <p class="number">({3Number})</p>
  <p>{3Content}</p>

  <h3>5 LAT</h3>
  <p class="number">({5Number})</p>
  <p>{5Content}</p>

  <h3>6-7,5 LAT</h3>
  <p class="number">({6Number})</p>
  <p>{6Content}</p>

  <h3>7,5-8,5 LAT</h3>
  <p class="number">({7Number})</p>
  <p>{7Content}</p>

  <h3>8,5-9 LAT</h3>
  <p class="number">({8Number})</p>
  <p>{8Content}</p>

  <h3>10</h3>
  <p class="number">({10Number})</p>
  <p>{10Content}</p>

  <h3>11-12,5 LAT</h3>
  <p class="number">({11Number})</p>
  <p>{11Content}</p>

  <h3>12,5-13,5 LAT</h3>
  <p class="number">({12Number})</p>
  <p>{12Content}</p>

  <h3>13,5-14 LAT</h3>
  <p class="number">({13Number})</p>
  <p>{13Content}</p>

  <h3>15</h3>
  <p class="number">({15Number})</p>
  <p>{15Content}</p>
</div>

<div>
  <h1>REKOMENDACJE</h1>
  <p class="number">({recommendationsNumber})</p>
  <p>{recommendationsContent}</p>

  <p class="number">({recommendations2Number})</p>
  <p>{recommendations2Content}</p>

  <p class="number">({recommendations3Number})</p>
  <p>{recommendations3Content}</p>
</div>

</body>
</html>